<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/shuffler.css}">
</head>
<body>

<div class="gameField playing" th:value="${parentFields}" id="change">
    <div th:each="field : ${gameField}" class="tile" id="title"> [[${field}]] </div>
</div>

<button onclick="buttonClicked()">Start</button>

<p id="timeValue" style="display: none">[[${timeInterval}]]</p>


<div id="parentFields" style="display: none">
    <div th:each="fields : ${parentFields}" id="list">
        <div th:each="field : ${fields}" th:value="${field}" class="tile">[[${field}]]</div>
    </div>
</div>

<br>
<br>

<button type="submit" onclick="location.href='/'" style="position: center">Go to home page</button>

<br>
<br>

<button type="submit" onclick="location.href='/solve'" >Go to previous page</button>

<script>
    var gameFields = document.getElementById('parentFields').children;
    var time = document.getElementById('timeValue').innerText * 1000;


    console.log(this.time);

    function buttonClicked(){
        for (var i = 0; i<gameFields.length; i++){
            (function (index) {
                setTimeout(function () {
                    document.getElementById("change").innerHTML = this.gameFields[index].innerHTML;
                },index*this.time);
            })(i)
            }
    }


</script>
</body>
</html>
