<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/shuffler.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="gameField shuffled">
    <div th:each="shuff : ${shuffled}" class="tile"> [[${shuff}]] </div>
</div>

<form th:action="@{/shuffling}" th:method="POST">
    <input type="number" value="enter number of moves" name="numberOfMoves">
    <input type="submit" value="shuffler">
</form>

<br>
<br>



<button type="submit" onclick="location.href='/'" style="position: center">Go to home page</button>

</body>
</html>
