<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>

<p>Choose file for solving</p>
<form th:method="POST" th:action="@{/solve}" enctype="multipart/form-data">
    <input TYPE="file" name="file" >
    <input type="submit" name="solve" value="solve">
</form>

<br>

<div th:each="move : ${moves}">[[${move}]]</div>

<br>
<br>
<br>
<br>

<p>Enter time interval for game plying</p>

<h5>You can play game only after solving!</h5>
<form th:action="@{/play}" th:method="POST">
    <input type="number" name="time">
    <input type="submit" value="play">
</form>

<br>
<br>

<button type="submit" onclick="location.href='/'" style="position: center">Go to home page</button>


</body>
</html>
